.BOL{background-color: #eeee15 ; background-repeat: no-repeat;}
.d1{ text-align:center; background-color:black;height: 100PX  ; padding:3px 0; background-repeat: no-repeat;  font-family: monospace   }                                            
.d2 {text-decoration: none;background-color:#696969  ;padding: 20px ; text-align:center ; height:20px ;font-family:"Times New Roman" }
.pp {text-align:center;}
.mma {text-align: center;}
.a1{text-decoration: none}
.foot{text-align:center ; background-color:black; background-size:200px  ; padding:5px 0
; background-repeat: no-repeat;          height: 55px                 ;font-family:"Times New Roman"                    }
.pm{height: 100px ; width: 200px}
.yaya{text-decoration: none}
.d3{ text-align:right; background-color:black;height: 100PX  ; padding:3px 0; background-repeat: no-repeat;   ;font-family:"Times New Roman" }

.foot{color: #eee ;height: 15px; padding: 3px; text-align: left;font-family:"Times New Roman"}